.expirations {
  .card {
    margin-bottom: 30px;
  }
  .card-header {
    height: 80px;
    font-weight: 700;
    background-color: $primary;
    color: white;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .card-month {
    font-weight: 300;
    line-height: 1.2rem;
    letter-spacing: 0.04rem;
  }
  .card-day {
    font-size: 1.1rem;
    line-height: 1.6rem;
    letter-spacing: 0.08rem;
    font-weight: 600;
  }
  .card-body {
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .card-antetitle {
    text-transform: uppercase;
    // color: $gray-800;
    font-size: 0.78rem;
    margin-bottom: 2px;
  }
  .card-title {
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 700;
    // color: $primary;
    margin-bottom: 12px;
  }
  .card-countdown {
    margin-bottom: 20px;
    .badge {
      font-weight: 400;
    }
  }
}
