header {
  min-height: 120px;
  background: $secondary;


  color: white;
  display: flex;
  align-items: center;

  .display-6 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 0px;
  }

  .lead {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  header {
    min-height: 100px;
    background: $secondary;
    color: $primary;
    display: flex;
    align-items: center;

    .display-6 {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 1.4rem;
      margin-bottom: 0px;
    }

    .lead {
      margin-bottom: 0;
    }
  }
}