.legislations {
  h3 {
    margin-bottom: 12px;
  }
  .navigation {
    top: 0px;
  }
  .scrollspy {
    padding-top: 0px;
  }
  ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 30px;
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $gray-400;
      margin-bottom: 6px;
      padding: 8px 12px;

      .btn {
        margin-left: 8px;
      }
    }
  }
}
