.navbar {
  padding: 20px 15px;
  font-family: "Univia", sans-serif;
  z-index: 9999;
  .navbar-brand {
    padding: 0;
    width: 180px;
    line-height: 0;
  }
  .navbar-toggler {
    border: none;
    margin-bottom: 0;
  }
  &-nav {
    .nav-item {
      .nav-link {
        padding: 0.4rem 0.6rem;
        font-weight: 500;
        color: $secondary;
        text-transform: uppercase;
        font-size: 0.9rem;
        letter-spacing: 0.01rem;
        text-align: center;
        // }
        display: flex;
        align-items: center;
        justify-content: center;
        .fas {
          padding-bottom: 2px;
          margin-left: 6px;
        }

        &:hover,
        &:active {
          color: $primary;
        }
      }
      .special {
        background: $secondary;
        color: white;
        margin-left: 0.8rem;
        &:hover,
        &:active {
          background: $primary;
          color: white;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .navbar {
    .navbar-brand {
      width: 160px;
    }
  }
}

@media (max-width: 1199px) {
  .navbar {
    padding: 10px 0px;
    .navbar-brand {
    }
    .navbar-collapse {
      margin-top: 8px;
    }
    &-nav {
      .nav-item {
        .nav-link {
          justify-content: start;
          border-bottom: 1px solid lighten($color: $primary, $amount: 30);
        }
        .special {
          margin-top: 6px;
          border-bottom: none;
          margin-left: 0rem;
        }
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .navbar {
    .navbar-brand {
    }
    .navbar-toggler {
      border: none;
    }
    &-nav {
      .nav-item {
        .nav-link {
          padding: 0.4rem 0.4rem;
          letter-spacing: 0rem;
        }
      }
    }
  }
}
