html {
  min-height: 100vh;
  position: relative;
}

body {
  margin-bottom: 120px;
  background-color: #f5f5f5;
}

main {}

section {
  padding-top: 60px;
  padding-bottom: 80px;

  // background-color: pink;

  h2 {
    font-weight: 400;
    letter-spacing: 0.08rem;
    margin-bottom: 60px;
    text-transform: uppercase;
  }
}

footer {
  color: white;
  background-color: $dark;
  position: absolute;
  bottom: 0;
  width: 100%;

  .container {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      text-decoration: none;
    }

    h6 {
      margin-bottom: 4px;
    }

    p {
      margin-bottom: 0;
      font-size: 0.9rem;
    }

    ul {
      margin-bottom: 0;
      list-style: none;
      padding: 0;

      display: flex;
      align-items: center;
      justify-content: space-between;

      li {
        padding: 0 4px;

        a {
          padding: 8px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  body {
    margin-bottom: 340px;
  }

  section {
    padding-top: 60px;
    padding-bottom: 60px;

    h2 {
      margin-bottom: 40px;
    }
  }

  footer {
    color: white;
    background-color: $dark;
    position: absolute;
    bottom: 0;
    width: 100%;

    .container {
      height: 340px;
      padding: 20px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      text-align: center;

      h6 {
        margin-bottom: 4px;
      }

      p {
        margin-bottom: 0;
        font-size: 0.9rem;
      }

      ul {
        margin-bottom: 0;
        list-style: none;
        padding: 0;

        display: flex;
        align-items: center;
        justify-content: space-between;

        li {
          padding: 0 4px;

          a {
            padding: 8px;
          }
        }
      }
    }
  }


}