@font-face {
  font-family: "Univia";
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Univia"),
    url("/fonts/UniviaPro/UniviaPro-Ultra.woff2") format("woff2"),
    url("/fonts/UniviaPro/UniviaPro-Ultra.woff") format("woff");
}
@font-face {
  font-family: "Univia";
  font-weight: 800;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Univia"),
    url("/fonts/UniviaPro/UniviaPro-Black.woff2") format("woff2"),
    url("/fonts/UniviaPro/UniviaPro-Black.woff") format("woff");
}
@font-face {
  font-family: "Univia";
  font-weight: bold;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Univia"),
    url("/fonts/UniviaPro/UniviaPro-Bold.woff2") format("woff2"),
    url("/fonts/UniviaPro/UniviaPro-Bold.woff") format("woff");
}
@font-face {
  font-family: "Univia";
  font-weight: 500;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Univia"),
    url("/fonts/UniviaPro/UniviaPro-Medium.woff2") format("woff2"),
    url("/fonts/UniviaPro/UniviaPro-Medium.woff") format("woff");
}
@font-face {
  font-family: "Univia";
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Univia"),
    url("/fonts/UniviaPro/UniviaPro-Regular.woff2") format("woff2"),
    url("/fonts/UniviaPro/UniviaPro-Regular.woff") format("woff");
}
@font-face {
  font-family: "Univia";
  font-weight: 300;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Univia"),
    url("/fonts/UniviaPro/UniviaPro-Light.woff2") format("woff2"),
    url("/fonts/UniviaPro/UniviaPro-Light.woff") format("woff");
}
@font-face {
  font-family: "Univia";
  font-weight: 100;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Univia"),
    url("/fonts/UniviaPro/UniviaPro-Thin.woff2") format("woff2"),
    url("/fonts/UniviaPro/UniviaPro-Thin.woff") format("woff");
}
@font-face {
  font-family: "Univia";
  font-weight: 200;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Univia"),
    url("/fonts/UniviaPro/UniviaPro-UltraLight.woff2") format("woff2"),
    url("/fonts/UniviaPro/UniviaPro-UltraLight.woff") format("woff");
}
