//## Poppins
// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
// $font-family-base: "Poppins", sans-serif;

//## Roboto
// @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
// $font-family-base: "Roboto", sans-serif;

//## Lato
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
$font-family-base: "Lato", sans-serif;

//## Univia
// $font-family-base: "Univia", sans-serif;

$blue: #003fa2 !default;
$purple: #8c78cf !default;
$red: #dd463c !default;
$orange: #eb7e39 !default;
$yellow: #f1bd4a !default;
$green: #4eba74 !default;
$cyan: #4ba6de !default;

$primary: $orange;
$secondary: $blue;
$info: $cyan;

// $enable-rounded: false;
